# uses allow-list, so ignore everything not explicitly allowed
*

# allow github, workflows and templates
!.github/
!.github/*.yaml
!.github/issue_template/
!.github/issue_template/*.md
!.github/workflows/
!.github/workflows/*.yaml
!.gitignore
!.lycheeignore
!.markdownlint.yaml

# allow markdown and the assets
!*.md
!license.txt
!assets/
!assets/images/
!assets/images/*.png
!assets/schemas/
!assets/schemas/*.json

# allow jekyll build files
!404.html
!Gemfile
!_config.yml

# allow docs files
!_data
!_data/*.yaml
!_includes
!_includes/*.html
!docs-1/
!docs-1/install/
!docs-1/**/*.md
!docs-1/assets/
!docs-1/assets/images/
!docs-1/assets/images/*.png
!docs-1/assets/downloads/
!docs-1/assets/downloads/*
!docs-2/
!docs-2/development/
!docs-2/development/actions/
!docs-2/development/schema/
!docs-2/development/testing/
!docs-2/home/
!docs-2/home/about/
!docs-2/home/trust/
!docs-2/usage/
!docs-2/usage/install/
!docs-2/usage/modeling/
!docs-2/**/*.md
!docs-2/assets/
!docs-2/assets/images/
!docs-2/assets/images/*.png

