name: CI pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  link_checker:
    name: Link checker
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout markdown
        uses: actions/checkout@v3.5.2

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          # skip the jekyll files
          args: --exclude-path './_includes/*.html' './**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  md_linter:
    name: Lint markdown
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v3.5.2

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@v10.0.1
        with:
          command: config
          globs: |
            .markdownlint.yaml
            **/*.md
