name: CI pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  link_checker:
    name: Link checker
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          # skip the jekyll files
          args: --verbose --no-progress --max-retries 1 --exclude-path './_includes/*.html' '**/*.md' '*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  md_linter:
    name: Lint markdown
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@v21.0.0
        with:
          config: '.markdownlint.yaml'
          globs: '**/*.md'

  spell_checker:
    name: Check spelling
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v6.0.1

      - name: spell_checker
        uses: rojopolis/spellcheck-github-actions@0.55.0
